### Импортируем необходимые библиотеки

In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

### Формируем базовый сайт

In [2]:
base_site = 'https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0_%D0%95%D0%B2%D1%80%D0%BE%D0%BF%D1%8B_%D1%81_%D0%BD%D0%B0%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%D0%BC_%D0%B1%D0%BE%D0%BB%D0%B5%D0%B5_500_%D1%82%D1%8B%D1%81%D1%8F%D1%87_%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA'

### Гет-запрос

In [3]:
r = requests.get(base_site)
r.status_code

200

In [4]:
html = r.content

### Файл супа

In [5]:
soup = BeautifulSoup(html, 'lxml')

### Первый вариант извлечение таблицы

In [8]:
table = soup.find_all('table')[1]

In [9]:
table.find_all('tr')[0].contents

[<th>№</th>,
 <th><a href="/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4" title="Город">Город</a></th>,
 <th><a href="/wiki/%D0%A1%D1%82%D1%80%D0%B0%D0%BD%D0%B0" title="Страна">Страна</a></th>,
 <th data-sort-type="number">Население</th>,
 <th data-sort-type="number">Год,<br/>источник</th>]

In [13]:
city = [row.contents[1].text.strip() for row in table.find_all('tr')]
city

['Город',
 'Москва',
 'Стамбул (европейская часть)',
 'Лондон',
 'Санкт-Петербург',
 'Берлин',
 'Мадрид',
 'Киев',
 'Рим',
 'Париж',
 'Минск',
 'Бухарест',
 'Вена',
 'Гамбург',
 'Варшава',
 'Будапешт',
 'Барселона',
 'Мюнхен',
 'Харьков',
 'Милан',
 'София',
 'Прага',
 'Казань',
 'Нижний Новгород',
 'Белград',
 'Брюссель',
 'Самара',
 'Ростов-на-Дону',
 'Бирмингем',
 'Уфа',
 'Кёльн',
 'Воронеж',
 'Пермь',
 'Одесса',
 'Волгоград',
 'Днепр',
 'Неаполь',
 'Стокгольм',
 'Краснодар[29]',
 'Донецк',
 'Тирана',
 'Турин',
 'Марсель',
 'Амстердам',
 'Саратов',
 'Загреб',
 'Валенсия',
 'Лидс',
 'Краков',
 'Запорожье',
 'Франкфурт-на-Майне',
 'Львов',
 'Тольятти',
 'Лодзь',
 'Севилья',
 'Кишинёв',
 'Осло',
 'Палермо',
 'Сарагоса',
 'Афины',
 'Ижевск',
 'Хельсинки',
 'Рига',
 'Роттердам',
 'Вроцлав',
 'Штутгарт',
 'Ульяновск',
 'Кривой Рог',
 'Глазго',
 'Копенгаген',
 'Дюссельдорф',
 'Ярославль',
 'Махачкала[29]',
 'Дортмунд',
 'Эссен',
 'Генуя',
 'Вильнюс',
 'Шеффилд',
 'Оренбург',
 'Лейпциг',
 'Малага',
 'Бремен',
 'Гётеборг',
 'Дублин',
 'Дрезден',
 'Познань',
 'Рязань',
 'Набережные Челны',
 'Ганновер',
 'Астрахань',
 'Антверпен',
 'Пенза',
 'Киров',
 'Лион',
 'Нюрнберг',
 'Гомель',
 'Скопье',
 'Липецк',
 'Балашиха',
 'Лиссабон']

Но так как извлекается не таблица, а список, то это не совсем удобно.

### Второй вариант

In [14]:
tables = pd.read_html(base_site)

In [16]:
type(tables[0])

pandas.core.frame.DataFrame

In [17]:
len(tables)

2

In [23]:
cities = tables[1]
cities

,№,Город,Страна,Население,"Год,источник"
0,1,Москва,Россия,12 678 079,2020[35]
1,2,Стамбул (европейская часть),Турция,9 772 961,2018[1][44]
2,3,Лондон,Великобритания,8 787 892,2016[33]
3,4,Санкт-Петербург,Россия,5 398 064,2020[35]
4,5,Берлин,Германия,3 601 131,2017[9]
...,...,...,...,...,...
94,95,Гомель,Белоруссия,510 300,2020[21]
95,96,Скопье,Северная Македония,509 900,2019[42]
96,97,Липецк,Россия,508 573,2020[4]
97,98,Балашиха,Россия,507 366,2020[6]
98,99,Лиссабон,Португалия,506 654,2018[32]

In [28]:
cities.set_index('№', inplace=True)
cities

                          Город              Страна   Население Год,источник
№
1                        Москва              Россия  12 678 079     2020[35]
2   Стамбул (европейская часть)              Турция   9 772 961  2018[1][44]
3                        Лондон      Великобритания   8 787 892     2016[33]
4               Санкт-Петербург              Россия   5 398 064     2020[35]
5                        Берлин            Германия   3 601 131      2017[9]
..                          ...                 ...         ...          ...
95                       Гомель          Белоруссия     510 300     2020[21]
96                       Скопье  Северная Македония     509 900     2019[42]
97                       Липецк              Россия     508 573      2020[4]
98                     Балашиха              Россия     507 366      2020[6]
99                     Лиссабон          Португалия     506 654     2018[32]

[99 rows x 4 columns]

In [25]:
cities.describe(include='all')

                №  Город  Страна Население Год,источник
count   99.000000     99      99        99           99
unique        NaN     99      31        99           47
top           NaN  Лодзь  Россия   580 097      2020[4]
freq          NaN      1      25         1           22
mean    50.000000    NaN     NaN       NaN          NaN
std     28.722813    NaN     NaN       NaN          NaN
min      1.000000    NaN     NaN       NaN          NaN
25%     25.500000    NaN     NaN       NaN          NaN
50%     50.000000    NaN     NaN       NaN          NaN
75%     74.500000    NaN     NaN       NaN          NaN
max     99.000000    NaN     NaN       NaN          NaN

In [26]:
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   №             99 non-null     int64
 1   Город         99 non-null     object
 2   Страна        99 non-null     object
 3   Население     99 non-null     object
 4   Год,источник  99 non-null     object
dtypes: int64(1), object(4)
memory usage: 4.0+ KB

In [27]:
cities.isna().sum()

№               0
Город           0
Страна          0
Население       0
Год,источник    0
dtype: int64

In [29]:
cities.columns

Index(['Город', 'Страна', 'Население', 'Год,источник'], dtype='object')

In [31]:
cities['Год,источник'].unique()

array(['2020[35]', '2018[1][44]', '2016[33]', '2017[9]', '2018[7]',
       '2019[24]', '2018[41]', '2019[38]', '2020[21]', '2016[14]',
       '2016[16]', '2018[18]', '2017[15]', '2018[13]', '2018[36]',
       '2017[24]', '2018[19]', '2016[43]', '2017[39]', '2020[4]',
       '2014[8]', '2018[12]', '2017[10]', '2018[11]', '2018[23]',
       '2018[45]', '2018[46]', '2016[34]', '2018[3]', '2019[26]',
       '2017[27]', '2018[37]', '2011[5]', '2018[47]', '2017[40]',
       '2019[30]', '2017[20]', '2018[28]', '2020[17]', '2017[7]',
       '2018[22]', '2016[25]', '2018[2]', '2016[31]', '2019[42]',
       '2020[6]', '2018[32]'], dtype=object)

In [41]:
df = cities['Год,источник'].str.split('[',expand=True)
df.drop([1,2], axis='columns',inplace=True)
df

       0
№
1   2020
2   2018
3   2016
4   2020
5   2017
..   ...
95  2020
96  2019
97  2020
98  2020
99  2018

[99 rows x 1 columns]

In [43]:
cities.iloc[:,3] = df.iloc[:,0]
cities

                          Город              Страна   Население Год,источник
№
1                        Москва              Россия  12 678 079         2020
2   Стамбул (европейская часть)              Турция   9 772 961         2018
3                        Лондон      Великобритания   8 787 892         2016
4               Санкт-Петербург              Россия   5 398 064         2020
5                        Берлин            Германия   3 601 131         2017
..                          ...                 ...         ...          ...
95                       Гомель          Белоруссия     510 300         2020
96                       Скопье  Северная Македония     509 900         2019
97                       Липецк              Россия     508 573         2020
98                     Балашиха              Россия     507 366         2020
99                     Лиссабон          Португалия     506 654         2018

[99 rows x 4 columns]